
<%- include partials/head.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!--Main section -->
  <main class="container mt-5 mb-5"><!--makes the edges responsive + gives margin on the left and right-->
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

        <h2 class="display-4 mt-5" style="color: crimson;">Contact me</h2><!--Main title-->
        <p><b>Email:</b> charontech@enterpise.com</p>
        <p><b>Number:</b> 627497229</p>
        <p><b>Office hours:</b> 8:00am - 8:00pm Monday to Saturday</p>
        <small class="text-muted">For additional information</small>
        
      <hr class="my-4">
      <form>
        <div class="form-group">
          <label for="InputEmail">Email address</label>
          <input type="email" class="form-control" id="InputEmail" aria-describedby="InputEmail" name="email" required><!--Email-->
          <small id="emailHelp" class="form-text text-muted">For a direct response to your mail</small>
        </div>

        <div class="form-group">
            <label for="InputNumber">Contact number</label>
            <input type="tel" class="form-control" id="InputNumber" aria-describedby="InputNumber" name="number" placeholder="Full phone number with extension" required><!--Number-->
        </div>

        <div class="form-group">
            <label for="InputName">Full name</label>
            <input type="text" class="form-control" id="InputName" aria-describedby="InputName" placeholder="First and Last name" name="name" required><!--Name-->
        </div>

        <div class="form-group">
            <label for="InputComments">Additional comments</label>
            <textarea class="form-control" id="InputComments" rows="3" name="InputComments"></textarea><!--Comments-->
            <small id="emailHelp" class="form-text text-muted">Please keep your message concise</small>
        </div>

        <button type="submit" class="btn btn-info btn-lg" id="submitButton"><i class="fas fa-envelope-open-text"></i> Submit</button><!--Submit-->
        <button type="reset" class="btn btn-secondary btn-lg" id="resetButton"><i class="fas fa-eraser"></i> Clear</button><!--Clear out-->
      </form>
    </div>
  </div>
  </main>

  <br>
  <br>

 <%- include partials/footer.ejs %>

   